.card {
  padding: 10px;
  position: relative;
  z-index: 100;
  background-color: var(--aqua);
  transition: 0.4s;
  animation: ease-in-out;
}

.card:hover {
  background-color: var(--aqua-light);
  scale: 1.05;
}

.description {
  color: var(--text-gray-dark);
  font-weight: 500;
  font-size: 16px;
}

.meta {
  z-index: 100;
}
