.icons {
  padding: 10px 0;
  margin: 0 auto;
  display: none;
  justify-content: center;
  column-gap: 12px;
}

.iconImg {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 768px) {
  .icons {
    display: flex;
  }
}
